@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700,700i&display=swap");

@layer base {
  * {
    font-family: "Josefin Sans", sans-serif;
    @apply box-border;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  html {
    height: 100%;
  }

  body {
    height: 100vh;
    @apply bg-background-dark text-white;
  }

  #redwood-app {
    height: 100%;
  }

  nav a {
    @apply text-base mx-1 transition py-2 px-4 cursor-pointer hover:bg-brand;
  }

  main {
    @apply w-full m-0;
  }

  #about,
  #services,
  #work {
    @apply p-5 bg-brand-dark max-h-full my-5 w-full rounded-xl transition-all duration-200 md:w-3/4 md:mx-auto lg:w-2/3;
  }

  #about header,
  #services header,
  #work header {
    @apply mb-5;
  }

  #about header h2,
  #services header h2,
  #work header h2 {
    @apply text-2xl;
  }

  #about header hr,
  #services header hr,
  #work header hr {
    @apply w-20;
  }

  hr {
    @apply border-accent-dark;
  }

  /** Home Section **/
  #home {
    @apply w-screen bg-brand-translucent h-screen flex flex-col justify-center items-center;
  }

  #title {
    @apply text-3xl;
  }

  .jobs {
    @apply flex flex-wrap justify-center;
  }

  .jobs span{
    @apply relative px-2;
  }

  /** Contact Section **/
  .contact-form {
    @apply justify-center flex-col border-none border-gray-300 p-5 rounded-xl mb-5;
  }

  .contact-form textarea {
    @apply block p-1 text-base text-brand-dark rounded-xl overflow-auto border-gray-400 border-2 resize-none;
  }

  .contact-form label {
    @apply block text-xl text-white font-semibold;
  }

  .contact-form button {
    @apply block p-2 text-xl font-semibold bg-brand rounded-xl text-white;
  }

  .contact-form input {
    @apply border rounded-xl p-1 text-base text-brand-dark;
  }

  #contact .error {
    @apply text-red-600 block
  }

  /** Service Section **/
  .service-card {
    @apply my-1 border border-brand-dark text-white p-5 bg-brand mx-5 rounded-xl transition transform hover:bg-brand-dark hover:text-white-light hover:border-white;
  }

  .service-card h3 {
    @apply text-2xl underline my-2 text-center;
  }
 }
