@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700,700i&display=swap");

@layer base {
  * {
    font-family: "Josefin Sans", sans-serif;
    @apply box-border;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  html {
    height: 100%;
  }

  #redwood-app {
    height: 100%;
  }

  #home-nav-header a,
  #blog-nav-header a {
    @apply text-base mx-1 py-2 px-4 cursor-pointer hover:text-yellow transition-colors duration-300;
  }

  #home-main hr {
    @apply border-yellow w-20;
  }

  .jobs {
    @apply flex flex-wrap justify-center;
  }

  .jobs span{
    @apply relative px-2;
  }

  /** Contact Section **/
  .contact-form textarea {
    @apply block p-1 text-base text-primary rounded-xl overflow-auto border-gray-400 border-2 resize-none;
  }

  .contact-form label {
    @apply block text-xl text-white font-semibold;
  }

  .contact-form button {
    @apply block p-2 text-xl font-semibold bg-primary rounded-xl text-white;
  }

  .contact-form input {
    @apply rounded-xl p-1 text-base text-primary;
  }

  #contact .error {
    @apply text-warning block
  }

  /** Tic Tac Toe **/
  .ttt_first-row,
  .ttt_second-row {
    @apply h-32 bg-accent w-32 flex justify-center items-center text-5xl;
  }

  .ttt_first-row--end,
  .ttt_second-row--end {
    @apply h-32 bg-accent w-32 flex justify-center items-center text-5xl;
  }

  .ttt_third-row {
    @apply h-32 bg-accent w-32 flex justify-center items-center text-5xl;
  }

  .ttt_third-row--end {
    @apply h-32 bg-accent w-32 flex justify-center items-center text-5xl;
  }
 }
